%h1.text-danger
  %em Partiyogita

%p.text-info Partiyogita is a website for competition held in Rajli Village where people can see there donations and student can see the results for the competition exams they have been involved in.
