%h1.text-primary
  Share and make poeple
  %br
  around aware with studly.

%br
%br
%p.text-primary
  = fa_icon('life-saver 3x')
  Save others from being cheated
%br
%br
%p.text-primary
  = fa_icon('share-alt 3x')
  Share your experince with people from last night
%br
%br
%p.text-primary
  = fa_icon('volume-up 3x')
  Tell people about duds and bests of your community