%h1.text-primary
  Check all donations and results
  %br
  for Rajli Partigogita live.

%br
%br
%p.text-primary
  = fa_icon('life-saver 3x')
  Real time donations check
%br
%br
%p.text-primary
  = fa_icon('share-alt 3x')
  Real time results check
%br
%br
%p.text-primary
  = fa_icon('volume-up 3x')
  Tell people about awesome framework designed for Rajli Partiyogita and keep updated