%h4.text-primary
  = link_to image_tag(avatar_url(current_user, 48)), 'http://en.gravatar.com/emails/', target: 'blank'
  = current_user.full_name

%ul.nav.nav-sidebar
  %li=link_to fa_icon('home', text: 'Home'), root_path
  %li=link_to fa_icon('users', text: 'Donators'), root_path
  %li=link_to fa_icon('list', text: 'Results'), root_path